.pricing-table {
  display: flex;
  justify-content: flex-start;
}

.pricing-table .pricing-plan {
  max-width: 250px;
  border: 1px solid #ccc;
  color: inherit;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  margin-right: 24px;
}

@media (max-width: 768px) {
  .pricing-table {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .pricing-table .pricing-plan {
    margin-right: 12px;
    margin-bottom: 12px;
  }
}

.pricing-table .pricing-plan:hover {
  background-color: #f9f9f9;
}

.pricing-table .pricing-plan h2 {
  margin-top: 0;
}

.pricing-table .pricing-plan .price {
  font-size: 24px;
  font-weight: bold;
}

.pricing-table .pricing-plan .features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pricing-table .pricing-plan .features li {
  margin: 10px 0;
}

.pricing-table .pricing-plan a {
  margin-bottom: 16px;
}
