<script src="/scripts/news-filter.js"></script>
{{ partial "header.html" . }}

{{ $tags := slice }}
{{ range .Pages }}
    {{ if .Params.tags }}
        {{ $tags = $tags | append .Params.tags }}
    {{ end }}
{{ end }}

{{ $tags = $tags | uniq }}

{{ if $tags }}
  <div class="news-tag-filters">
    <button class="tag-filter btn button" data-filter="all">All</button>
  {{ range $tags}}
    <button class="tag-filter btn button-secondary" data-filter='{{ replace . " " "-" }}'>{{strings.FirstUpper .}}</button>
  {{ end }}
  </div>
{{ end }}

<div id="news-entries">
{{ range .Page.Sections.ByDate.Reverse }}
    <a href="{{.RelPermalink}}">
        {{ if .Params.tags }}
            {{ $page_tags := slice}}
            {{ range .Params.tags }}
                {{ $page_tags = $page_tags | append (replace . " " "-") }}
            {{ end }}
            <div class="news-entry" data-filter='{{ delimit $page_tags " "}}'>
        {{ else }}
            <div class="news-entry">
        {{ end }}
            {{ if .Params.cover }}
                {{ $image_alt := .Params.cover.alt }}
                {{ $image_pos := .Params.cover.pos | default "center center" }}
                {{ with .Resources.GetMatch .Params.cover.image }}
                    <div class="news-cover-image">
                        <img loading="lazy" src="{{ .RelPermalink }}" alt="{{ $image_alt }}" style="object-position: {{ $image_pos }};">
                    </div>
                {{ end }}
            {{ end }}
            <h2>{{.Title}}</h2>
            <p class="news-description">{{.Description}}</p>
            <p class="news-metadata">{{.Params.author}} • {{.Params.date | time.Format "2 January 2006"}}</p>
        </div>
    </a>
{{ end }}
</div>

{{ partial "footer.html" . }}