{{- template "partials/opengraph.html" . -}}
{{- template "_internal/schema.html" . -}}
{{- template "partials/twitter_cards.html" . -}}

<link href="{{"css/carousel.css" | relURL}}" rel="stylesheet">
<link href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" type="text/css" rel="stylesheet"/>
<link href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
