<div class="countdown-wrapper" data-shuttle="{{ .Get "shuttle" }}" data-deadline="{{ .Get "deadline" }}" data-pcbs="{{ .Get "pcbs" }}">
  <div class="countdown-timer">
    <div class="heading">{{ .Get "name" }}<br />Closes in</div>
    <div class="heading-mobile">{{ .Get "name" }} Closes in</div>
    <div class="countdown-timer-tiles">
      <div class="tile">
        <p class="value cd-days">44</p>
        <p class="unit-name">DAYS</p>
      </div>
      <div class="tile">
        <p class="value cd-hours">44</p>
        <p class="unit-name">HOURS</p>
      </div>
      <div class="tile">
        <p class="value cd-minutes">44</p>
        <p class="unit-name">MINS</p>
      </div>
      <div class="tile">
        <p class="value cd-seconds">44</p>
        <p class="unit-name">SECS</p>
      </div>
    </div>
  </div>
  <a class="shuttle-stats">
    <div class="item tile-stats">
      <span class="title">
        <span class="title-text">Tiles</span>
        <div class="counter">&nbsp;</div>
      </span>
      <div class="progress-bar">
        <div class="progress-bar-inner"></div>
      </div>
    </div>
    <div class="item pcb-stats">
      <span class="title">
        <span class="title-text">PCBs</span>
        <div class="counter">&nbsp;</div>
      </span>
      <div class="progress-bar">
        <div class="progress-bar-inner"></div>
      </div>
    </div>
  </a>
</div>

<!-- Only load the countdown script once -->
{{ if not (.Page.Scratch.Get "countdown:done") }}

  <!-- Styles -->
  {{ $css := resources.Get "css/countdown.css" | resources.Minify }}
  <style>{{ $css.Content | safeCSS }}</style>

  <!-- Scripts -->
  {{ $js := resources.Get "scripts/countdown.js" | js.Build | resources.Minify }}
  {{ $secureJS := $js | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}?{{ now.Unix }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

  {{ .Page.Scratch.Set "countdown:done" true }}
{{ end }}

