name: Link Check

on:
    push:
    pull_request:
    workflow_dispatch:

jobs:
    link-check:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v5
              with:
                submodules: true

            - uses: peaceiris/actions-hugo@v3
              with:
                hugo-version: '0.152.2'

            - name: Build website
              run: hugo

            - name: Check for dead links
              uses: lycheeverse/lychee-action@v2
              with:
                jobSummary: true
                args: --root-dir $PWD/public --no-progress public

            - uses: actions/upload-artifact@v4
              if: success() || failure()
              with:
                name: results
                path: ./lychee/out.md